{% extends "base.html" %}
    {% block content %}

    <h1 class="title">
    Welcome, {{ name }}.
    </h1>
    <!-- <form method='POST'>
    <label for="rooms">Select a room:</label>
    <select name="rooms" id="rooms">
      <option value="room_0">Room 0</option>
    </select>
    <button type="submit" class="btn btn-default">Go</button>
  </form> -->


    <div>&nbsp</div>
    <div class="box">
    <div class="message_holder"></div>
    <div>&nbsp</div>
    <form action="" method="POST" id='form_message'>
      <input type="text" size="56" class="message" placeholder="Type a message"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {

        socket.emit( 'user connection', {
          data: 'User Connected',
        } )


        var form = $( '#form_message' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'message event', {
              user_name : '{{name}}',
              message : user_input
            }
          )

          $('input.message').val( '' ).focus()

          }
        )
      })

      setInterval(function(){
        socket.emit('read messages')
        }, 500);

      socket.on( 'response event', function( msg ) {
        if( typeof msg.content !== 'undefined' ) {
          $( 'div.message_holder').css("fontSize", 13);
          $( 'div.message_holder' ).html(msg.content)
          }
        }
      )

    </script>

</div>
{% endblock %}